<div>
  <% @product.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do%>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail")%>
          <!-- thumbnail 是bootstrap内置的图片格式 -->
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail" )%>
        <% end %>
      <% end %>
      <%= product.title %>: <%= product.price%>元
    </div>
  <% end %>
</div>
